<br>
<div class="container">
  <div class="jumbotron text-xs-center">
    <h1 class="display-1" style="color:#5CB85C;font-size:8em">Business Placer</h1>
    <!-- <h1 class="display-1" style="font-size:8em">Business Placer</h1> -->
    <br>
    <br>
    <br>
    <%= link_to "Login with Google" , "/auth/google_oauth2", class:"btn btn-success"%>
  </div>
</div>
