<!-- <div id="map" style="width:100%;height:auto"> -->
<div id="map" style="height:500px">
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["MAPS_API_KEY"] %>&libraries=visualization&callback=initMap" async defer></script>
