<nav class="navbar navbar-dark bg-success">
  <div class="container">
    <a class="navbar-brand" href="#">Business Placer</a>

    <div class="nav navbar-nav pull-xs-right">
      <a class="nav-item nav-link active" href="#">Hector</a>
      <a class="nav-item nav-link" href="#">Logout</a>
    </div>
  </div>
</nav>
