<nav class="navbar navbar-dark bg-success">
  <div class="container">
    <a class="navbar-brand" href="#">Business Placer</a>

    <div class="nav navbar-nav pull-xs-right">
      <a class="nav-item nav-link active" href="#">Hector</a>
      <a class="nav-item nav-link" href="#">Logout</a>
    </div>
  </div>
</nav>
<!-- <div class="container bob">
  <div class="row">
    Bob
  </div>
</div> -->
<br>
<!-- <div class="container">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Button</a>
      <a href="#" class="card-link">Card link</a>
    </div>
  </div>
</div> -->
<!-- <div class="container">
  <div class="card text-xs-center">
    <div class="card-block">
      <form class="form-inline" action="index.html" method="post">
        <div class="form-group">
          <label for="exampleInputName2">Place</label>
          <input type="text" class="form-control" id="exampleInputName2" placeholder="Business Type">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail2">at</label>
          <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Location">
        </div>
        <button type="submit" class="btn btn-success">Place It!</button>
      </form>
    </div>
  </div>
</div> -->
<!-- <div class="container">
  <div class="card text-xs-center">
    <div class="card-block">
      <form class="form-inline row" action="index.html" method="post">
        <div class="col-xs-6">
          <div class="form-group row">
            <label for="exampleInputName2" class="col-xs-3">Place</label>
            <div class="col-xs-9">
              <input type="text" class="form-control" id="exampleInputName2" placeholder="BT">
            </div>
          </div>
        </div>
        <div class="col-xs-6">

          <div class="form-group">
            <label for="exampleInputEmail2">at</label>
            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Location">
          </div>
        </div>
      </form>
    </div>
  </div>
</div> -->

<!-- <div class="container">
<div class="row">
  <div class="col-xs-2">
    <input type="text" class="form-control" placeholder=".col-xs-2">
  </div>
  <div class="col-xs-3">
    <input type="text" class="form-control" placeholder=".col-xs-3">
  </div>
  <div class="col-xs-4">
    <input type="text" class="form-control" placeholder=".col-xs-4">
  </div>
</div>
</div> -->
<!-- <br> -->
<!-- <div class="container">
<form>
  <div class="form-group row">
    <label for="inputEmail3" class="col-xs-2 form-control-label">Email</label>
    <div class="col-xs-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-xs-2 form-control-label">Password</label>
    <div class="col-xs-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
    </div>
  </div>
</form>
</div> -->
<div class="container">
  <div class="card text-xs-center">
    <div class="card-block">
      <form class="row" action="index.html" method="post">
        <div class="col-xs-5">
          <div class="form-group row">
            <label for="inputPassword3" class="col-xs-2 form-control-label">Place</label>
            <div class="col-xs-10">
              <input type="text" class="form-control" id="exampleInputName2" placeholder="Business Type">
            </div>
          </div>
        </div>
        <div class="col-xs-5">
          <div class="form-group row">
            <label for="inputPassword3" class="col-xs-1 form-control-label">at</label>
            <div class="col-xs-11">
              <input type="text" class="form-control" id="exampleInputName2" placeholder="Location">
            </div>
          </div>
        </div>
        <div class="col-xs-2">
          <button type="submit" class="btn btn-success">Place It!</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-9">
      <div class="card">
        <%= image_tag "https://tctechcrunch2011.files.wordpress.com/2013/05/copy-of-sf-cards.png" , class:"img-fluid"%>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="card" style="min-height:500px">
        <div class="card-block">
          Other Amazing Info
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="card card-default">
    <div class="card-block">
      Individual info about each marker
    </div>
  </div>
  <div class="card card-default">
    <div class="card-block">
      Individual info about each marker
    </div>
  </div>
  <div class="card card-default">
    <div class="card-block">
      Individual info about each marker
    </div>
  </div>
</div>
