<!-- <br>
<div class="container">
<a id="spike" class="btn btn-success" href="#">Spike!</a>
<a id="action" class="btn btn-success" href="#">Action!</a>
</div> -->
<br>
<div class="">
  <div class="card text-xs-center col-xs-10 col-xs-offset-1">
    <div class="card-block">
      <form id="place-it-form" class="row" data-remote="true">
        <div class="col-xs-5">
          <div class="form-group row">
            <label for="keywords" class="col-xs-2 form-control-label">Place</label>
            <div class="col-xs-10">
              <input type="text" class="form-control" id="keywords" placeholder="Business Type">
            </div>
          </div>
        </div>
        <div class="col-xs-5">
          <div class="form-group row">
            <label for="location" class="col-xs-1 form-control-label">at</label>
            <div class="col-xs-11">
              <input type="text" class="form-control" id="location" placeholder="Location" value="Denver">
            </div>
          </div>
        </div>
        <div class="col-xs-2">
          <!-- <a id="place-it" class="btn btn-success">Place It!</a> -->
          <button id="place-it" type="submit" class="btn btn-success">Place It!</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="">
  <div class="row">
    <div class="col-xs-7 col-xs-offset-1">
      <div class="card">
        <%= render "shared/map" %>
        <%#= image_tag "https://tctechcrunch2011.files.wordpress.com/2013/05/copy-of-sf-cards.png" , class:"img-fluid"%>
      </div>
    </div>
    <div class="col-xs-3">
      <!-- <div class="card" style="min-height:660px"> -->
      <div class="card" style="min-height:740px">
        <div id="neighborhood-wrapper" class="card-block">
          <h1 class="display-4 text-xs-center">Best Bets</h1>
          <div class="card">
            <div id="marker-info" class="card-block" style="min-height:640px">
              <p> Make a search to see the neighborhoods! </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
