<br>
<div class="container text-xs-center">

<a id="spike" class="btn btn-success" href="#">Spike!</a>
<a id="action" class="btn btn-success" href="#">Action!</a>
</div>
<br>
<div class="container">
  <div class="card text-xs-center">
    <div class="card-block">
      <form class="row" id="place-it" action="index.html" method="post" data-remote="true">
        <div class="col-xs-5">
          <div class="form-group row">
            <label for="business" class="col-xs-2 form-control-label">Place</label>
            <div class="col-xs-10">
              <input type="text" class="form-control" id="business" placeholder="Business Type">
            </div>
          </div>
        </div>
        <div class="col-xs-5">
          <div class="form-group row">
            <label for="location" class="col-xs-1 form-control-label">at</label>
            <div class="col-xs-11">
              <input type="text" class="form-control" id="location" placeholder="Location">
            </div>
          </div>
        </div>
        <div class="col-xs-2">
          <button id="plXXace-it" type="submit" class="btn btn-success">Place It!</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-9">
      <div class="card">
        <%= render "shared/map" %>
        <%#= image_tag "https://tctechcrunch2011.files.wordpress.com/2013/05/copy-of-sf-cards.png" , class:"img-fluid"%>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="card" style="min-height:500px">
        <div class="card-block">
          Other Amazing Info
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="card card-default">
    <div class="card-block">
      Individual info about each marker
    </div>
  </div>
  <div class="card card-default">
    <div class="card-block">
      Individual info about each marker
    </div>
  </div>
  <div class="card card-default">
    <div class="card-block">
      Individual info about each marker
    </div>
  </div>
</div>
