.navbar {
  border-radius: 0;
}

.card .form-group {
  margin:0px;
}

#neighborhood-wrapper{
  padding-bottom: 0px;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url(denver.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    // text-shadow: white 0.3em 0.3em 0.3em;
}
